/.cache
/.git
/.husky
/.idea
/.scannerwork
/.vscode
/build
/coverage
/docs
/node_modules
/public
!public/index.html
.gitignore
.prettierignore
.prettierrc.json
package-lock.json
yarn.lock
pnpm-lock.yaml
LICENSE
*.graphql
.graphqlconfig
*.snap
*.txt
*.back
